@model MarketPlace.Models.ViewModels.UserDetailsViewModel

<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <p><strong>Username:</strong> @Model.User.UserName</p>
            <p><strong>Email:</strong> @Model.User.Email</p>
            <p><strong>Account Status:</strong> @(Model.User.IsSuspended ? "Suspended" : "Active")</p>
        </div>
        <div class="col-md-6">
            <p><strong>Roles:</strong></p>
            <ul>
                @foreach (var role in Model.Roles)
                {
                    <li>@role</li>
                }
            </ul>
        </div>
    </div>
</div>